.card__container {
  margin-top: 150rem;
  width: 100%;
}
.card {
  margin-left: 5rem;
  /* width: 100rem; */
  margin-left: 1rem;
  position: absolute;
  /* margin-top: -25rem; */
  /* width: 100%; */
}
.card > img {
  margin-left: 5rem;
  /* width: 100%; */
}
.card__cards {
  position: absolute;
  display: flex;
  gap: 2rem;
  margin-top: -3rem;
  margin-left: 10rem;
}

.card__left {
  width: 30rem;
  margin-top: 7rem;
}

.card__left > h2 {
  color: white;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  padding: 1rem;
}
.card__left > p {
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  padding: 1rem;
}

.card__left > button {
  margin-top: 4rem;
  margin-left: 1rem;
}

.card__right {
  width: 30rem;
  margin-top: 8rem;
}
.card__right2 > img {
  display: none;
}

@media screen and (max-width: 480px) {
}
