.footer__container {
  background: var(--color-primary);
  box-sizing: border-box;
  right: 0rem;
  left: 0rem;
  right: 0rem;
  position: absolute;
  min-width: 100%;
  gap: 3rem;
}

.footer__content {
  margin-left: 8rem;
  display: flex;
  width: 80%;
}

.left__footer {
  flex: 1;
  margin-top: -3rem;
  display: flex;
  flex-direction: column;
  /* width: 70vh; */
  margin-left: -6rem;
}

.left__footer > h2 {
  margin-left: 0rem;
  width: 15rem;
  margin-top: 8rem;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
}
.left__footer > p {
  margin-left: 0rem;
  margin-top: 2rem;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.right__footer {
  display: flex;
  margin-left: 9rem;
}

.right__footer > ul {
  margin-top: 5rem;
  margin-bottom: 3rem;
  padding: 0rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.right__footer > ul > li > a {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-left: 2rem;
}
.right__footer > ul > li > a:hover {
  text-decoration: underline;
}

.footer__socials {
  display: flex;
  transform: scale(0.2);
  margin-top: 5rem;
}

.footer__socials > img {
  gap: 1rem;
  padding-left: 3rem;
}

.footer__copyright {
  text-align: center;
}

.footer__copyright > p {
  color: #fff;
  margin-left: 2rem;
}
@media screen and (max-width: 480px) {
}
